.artistSearch {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 2px;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline-block;
    font-family: Arial;
    font-size: 24px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li{
    padding:10px;
    background: honeydew;
}
.searchDiv{
    width:18%;
    display: inline-block;
    float: left;
}
.artistInfo{
    width: 60%;
    display: inline-block;
    float: left;
    margin-left:20px;
    background: teal;
}
.testClass{
    min-width: 100%;
    float:left;
    display:inline;
}
.buttonStyle{
    display:inline;
    marginleft:150px;
    height:30px;
    width: 70px;

}